<div class="flex flex-col ml-[4.5rem] mt-[5rem]">
    <div class='flex flex-col justify-center items-center'>
        <h1 class='text-[3rem] text-tColor font-extrabold'>Pdf To PowerPoint Converter</h1>
        <p class='text-[1.5rem] text-tColor'>Generate ppt from pdf completely free</p>
        <app-uploader></app-uploader>
    </div>

    <div class='flex flex-col justify-center items-center mt-[10rem]'>
        <h1 class='text-[3rem] text-tColor font-extrabold'>Generate with 3-easy step!</h1>
        <div class='flex flex-row justify-between w-[40%] mt-[4rem]'>
            <div class='flex flex-col justify-center items-center'>
                <img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/F1BB45/file.png" alt="file"/>
                <p class='text-tColor text-[0.9rem] mt-2 text-center'>File upload</p>
            </div>
            <div class='flex flex-col justify-center items-center ml-[3rem]'>
                <img width="64" height="64" src="https://img.icons8.com/ios/100/F1BB45/presentation.png" alt="file"/>
                <p class='text-tColor text-[0.9rem] mt-2 text-center'>Convert and generate</p>
            </div>
            <div class='flex flex-col justify-center items-center'>
                <img width="64" height="64" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/F1BB45/external-file-multimedia-kiranshastry-lineal-kiranshastry-1.png" alt="file"/>
                <p class='text-tColor text-[0.9rem] mt-2 text-center'>Download and share</p>
            </div>
        </div>
    </div>

    <div class='flex flex-row justify-center items-center gap-x-[5rem] mt-[10rem]'>
        <div class='flex flex-col w-[50%]'>
            <h1 class='text-[2.5rem] text-tColor font-bold'>
                Generate professional ppt presentation from a PDF file with one click
            </h1>
            <br />
            <p class='text-[1.3rem] text-tColor w-[85%]'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                <br /><br />
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
        </div>
        <div class='flex flex-col'>
            <img height="300" width="300" [src]="landingImg2" alt="" />
        </div>
    </div>
</div>
